# Environment Variable
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test

# compiled outputAdd commentMore actions
/dist
/build
/tmp
/out-tsc

# dependencies
node_modules/
.idea
.project
.classpath
.settings/
*.sublime-workspace
.cache
.translation-cache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# testing
coverage

# Optional eslint cache
.eslintcache


# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# test
/app

# Yarn
.yarnclean
